In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
print("hello"); print("pooja")

hello
pooja

In [3]:
print("hello", end = " "); print("pooja")

hello pooja

In [4]:
for row in range(7):
    for col in range(5):
        if ((col ==0 or col ==4) and row!=0) or ((row ==0 or row ==3) and 0<col<4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [5]:
for row in range(7):
    for col in range(5):
        if (col ==0 or col ==4 or row ==0 or row ==3):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [6]:
for row in range(7):
    for col in range(5):
        if ((row==0 or row ==3 or row==6) and 0<=col<4)or \
            ((row ==1 or row ==2 or row ==4 or row ==5) and col ==4) or col ==0 :
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

In [7]:
for row in range(7):
    for col in range(5):
        if ((row ==0 or row ==6) and 0<col<=4) or ((col ==0)and row!=0 and row!=6):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * * *
*
*
*
*
*
  * * * *

In [8]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row == 0 or row ==6) and  col!=4) or (0<row<6 and col==4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [9]:
for row in range(7):
    for col in range(5):
        if col==0 or (row ==0 or row ==6 or row ==3 and 0<=col<=6):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [10]:
for row in range(7):
    for col in range(5):
        if col==0 or (row ==0  or row ==3 and 0<=col<=6):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*
*
* * * * *
*
*
*

In [11]:
for row in range(8):
    for col in range(5):
        if ((row==0 or col==0) and row!=7) or (row ==4 and 1<col<5) or \
        ((row==4 or row==5 or row==6) and col == 2) or (row ==6 and 0<=col<3) or (col ==4 and 4<=row<=7):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*
*
*
*   * * *
*   *   *
* * *   *
        *

In [12]:
for row in range(7):
    for col in range(5):
        if (col ==0 or col==4) or row==3:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [13]:
for row in range(7):
    for col in range(5):
        if (row ==0 or row ==6) or col ==2:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

In [14]:
for row in range(7):
    for col in range(5):
        if (row ==0) or (col ==2 and row!= 6) or (col ==1 and row==6) or ((row ==4 or row ==5) and col ==0):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
    *
    *
    *
*   *
*   *
  *

In [15]:
for row in range(7):
    for col in range(5):
        if (row ==0) or (col ==2) or (col ==1 and row==6) or ((row ==4 or row ==5 or row ==6) and col ==0):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
    *
    *
    *
*   *
*   *
* * *

In [16]:
for row in range(7):
    for col in range(5):
        if (col ==0) or ((row ==2 or row ==4) and col ==1) or \
            ((row ==1 or row ==5) and col ==2) or ((row ==0 or row ==6) and col ==3):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*     *
*   *
* *
*
* *
*   *
*     *

In [17]:
for row in range(7):
    for col in range(5):
        if col ==0 or row ==6:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*
*
*
*
*
*
* * * * *

In [18]:
for row in range(7):
    for col in range(5):
        if (col == 0 or col ==4) or ((col ==1 or col ==3) and row ==1) or ((col ==2) and row ==2):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *
*       *

In [19]:
for row in range(5):
    for col in range(5):
        if (col ==0 or col ==4) or (col ==1 and row==1)or (col ==2 and row==2)or (col ==3 and row==3):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [20]:
for row in range(7):
    for col in range(7):
        if (col ==0 or col ==6) or (col == row):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

In [21]:
for row in range(7):
    for col in range(5):
        if ((col ==0 or col ==4) and (row!=0 and row!=6)) or ((row ==0 or row ==6) and 0<col<4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

In [22]:
for row in range(7):
    for col in range(5):
        if (col ==0) or ((row ==0 or row ==3) and 0<col<4) or ((row ==1 or row ==2) and col==4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * *
*       *
*       *
* * * *
*
*
*

In [23]:
for row in range(7):
    for col in range(6):
        if ((col ==0 or col ==4) and (row!= 0 and row!=5 and row!=6)) or \
            ((row == 0 or row ==5) and (0<col<4)) or (row ==4 and col ==3) or (row ==5 and col ==4) or row==6 and col ==5:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * *
*       *
*       *
*       *
*     * *
  * * * *
          *

In [24]:
for row in range(7):
    for col in range(6):
        if (col ==0 and row!= 0) or ((row ==0 or row ==3) and (0<col<4)) or \
        ((row ==1 or row ==2) and (col ==4)) or (row ==4 and col ==2) or (row ==5 and col ==3) or (row ==6 and col ==4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * *
*       *
*       *
* * * *
*   *
*     *
*       *

In [25]:
for row in range(7):
    for col in range(5):
        if (row ==0 and 0<col<4) or ((row ==1 or row ==2)and (col ==0)) or (row ==3 and 0<col<4)or \
            ((row ==4 or row ==5)and (col ==4)) or (row ==6 and 0<=col<4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * *
*
*
  * * *
        *
        *
* * * *

In [26]:
for row in range(7):
    for col in range(5):
        if row == 0 or col ==2:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
    *
    *
    *
    *
    *
    *

In [27]:
for row in range(7):
    for col in range(5):
        if ((col ==0 or col ==4 ) and(row !=6)) or ((row ==6) and (0<col<4)):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

In [28]:
for row in range(4):
    for col in range(7):
        if ((col == 0 or col ==6) and row ==0) or ((col ==1 or col ==5) and row ==1) or \
            ((col == 2 or col ==4) and row ==2) or ((col ==3) and (row ==3)):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*           *
  *       *
    *   *
      *

In [29]:
for row in range(7):
    for col in range(5):
        if col ==0 or col ==4 or ((col ==1 or col ==3) and (row ==5)) or ((col ==2) and (row ==4)):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
*       *
*       *
*       *
*   *   *
* *   * *
*       *

In [30]:
for row in range(7):
    for col in range(5):
        if col ==0 or col ==4 or ((col ==1 or col ==3) and (row ==5)) or ((col ==2) and (0<=row<=4)):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*   *   *
*   *   *
*   *   *
*   *   *
*   *   *
* *   * *
*       *

In [31]:
for row in range(7):
    for col in range(5):
        if (row == col) or (row+col == 4) :
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [32]:
for row in range(7):
    for col in range(5):
        if ((col ==0 or col ==4) and row ==0) or ((col ==1 or col ==3) and row ==1) or ((col ==2) and (2<=row<=6)):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
  *   *
    *
    *
    *
    *
    *

In [33]:
for row in range(7):
    for col in range(5):
        if (row == 0 or row == 4) or (row+col ==4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
      *
    *
  *
* * * * *