In [1]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [2]:
n = 5
for i in range(0,n):
    for j in range(i,n):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [3]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
n = 5
for i in range(n):
    for j in range(i,n):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [5]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ", end = " ")
    for j in range(i+1):
        print("*", end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [6]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("1",end = " ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [11]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end = " " )
    p = p+1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
n = 5
p = 1
for i in range(n):
    for j in range(i,n):
        print(" ", end = " ")
    for j in range(i+1):
        print(p, end = " ")
    p = p+1
    print()

          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5

In [13]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p, end = " " )
    p = p-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [14]:
n = 5
p = 0
for i in range(n):
    for j in range(i+1):
        print(p, end = " " )
    p = p+2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [15]:
n = 5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
          print("1", end = " " )
        else:
           print("2", end = " ")

    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [16]:
n = 5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
          print("#", end = " " )
        else:
           print("*", end = " ")

    print()

#
* *
# # #
* * * *
# # # # #

In [10]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("1", end = " ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [14]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p = p+1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p = p+2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [16]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p = p-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [17]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p = p-2
    print()

5
3 3
1 1 1
-1 -1 -1 -1
-3 -3 -3 -3 -3

In [19]:
n = 5

for i in range(n):
    for j in range(i+1):
        print(i+1, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
n = 5

for i in range(n):
    for j in range(i+1):
        print(n-i, end = " ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [23]:

n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p = p-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [26]:
n = 5
p = 0
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p = p+2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [25]:
###  reverse hill pattern
### increasing space
### decreasing star
### decreasing star
n = 5
p = 1
for i  in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n-1):
        print(p, end = " ")
    for j in range(i,n):
        print(p, end = " ")
    p = p+1
    print()

  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [29]:
n = 5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print("1", end = " ")
        else:
            print("2", end = " ")
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [32]:
n = 5
p = 1
for i in range(n-1):
    for j in range(i,n):
        print(" ", end = " ")
    for j in range(i):
        print(p, end = " ")
    for j in range(i+1):
        print(p, end = " ")
    p = p+1
    print()
for i  in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n-1):
        print(p, end = " ")
    for j in range(i,n):
        print(p, end = " ")
    p = p+1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [33]:
n = 5
p = 1
for i in range(n-1):
    for j in range(i,n):
        print(" ", end = " ")
    for j in range(i):
        print(p, end = " ")
    for j in range(i+1):
        print(p, end = " ")
    p = p+1
    print()
for i  in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n-1):
        print(p, end = " ")
    for j in range(i,n):
        print(p, end = " ")
    p = p-1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [34]:
n = 5
for i in range(n):
    p = 1
    for j in range(i+1):
        print(p, end = " ")
        p = p+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [36]:
n = 5
for i in range(n):
    p = 2
    for j in range(i+1):
        print(p, end = " ")
        p = p+2
    print()

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [37]:
n = 5
for i in range(n):
    p = 1
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print(p, end = " ")
        p = p+1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [38]:
n = 5
for i in range(n):
    p = 10
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print(p, end = " ")
        p = p-2
    print()

  10 8 6 4 2
    10 8 6 4
      10 8 6
        10 8
          10

In [41]:
n = 5

for i  in range(n):
    p = 1
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n-1):
        print(p, end = " ")
        p = p+1
    for j in range(i,n):
        print(p, end = " ")
        p = p+1
    print()

  1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7
      1 2 3 4 5
        1 2 3
          1

In [42]:
n = 5
for i in range(n):
    p = 1
    for j in range(i,n):
        print(" ", end = " ")
    for j in range(i):
        print(p, end = " ")
        p = p+1
    for j in range(i+1):
        print(p, end = " ")
        p = p+1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [43]:
n = 5
for i in range(n):
    p = 5
    for j in range(i+1):
        print(p, end = " ")
        p = p-1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [44]:
n = 5

for i in range(n):
    p = 5
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print(p, end = " ")
        p = p-1
    print()

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

In [48]:
n = 5
k = 5

for i in range(n):
    p = k
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print(p, end = " ")
        p = p-1
    k = k-1
    print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [56]:
n = 5
p =1
for i in range(n):
    p= 1
    for j in range(i,n):
        print(" ", end = " ")
    for j in range(i):
        print(p, end = " ")
        p = p+1
    for j in range(i+1):
        print(p, end = " ")
        p = p-1
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [63]:
### floyd triangle

n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
        p = p+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15